<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Framework" parallel="methods" thread-count="1">
	 <listeners>
		<listener class-name="sherpath.edu.app.testng.TestLogListener" />
	</listeners> 

    <test name="Framework Tests" >
    
	 	 <classes>
	 	 	<class name="sherpath.edu.app.test.TestClass"/>
	 	 </classes>
	 </test>
</suite>